{% extends 'template.html'%}
{%load static%}
{% block 'titulo'%}Iestok|cadastro{% endblock %}
{%block 'content'%}
<form method="POST" action="{% url 'cadastro' %}" class="row" class="container">
    {% csrf_token %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <h2 class="header center orange-text black-text">Bem-vindo(a) ao iEstok!</h2>
            <div class="row center">
                <div class="row">
                    <div class="input-field col s12 m6 push-m3">
                        <input id="primeiro_nome" type="text" class="validate" name="nome">
                        <label for="primeiro_nome">Primeiro nome</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Insira o seu nome</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 push-m3">
                        <input id="email" type="email" class="validate" name="email">
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Insira o seu email</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 push-m3">
                        <input type="password" id="senha" class="validate" name="senha">
                        <label for="senha">Senha</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Digite a sua senha</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 push-m3">
                        <input type="password" id="senha_repetida" class="validate" name="senha_repetida">
                        <label for="senha_repetida">Repita a senha</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Digite o mesmo valor do campo
                            acima</span>
                    </div>
                </div>
                <div class="row center">
                    <button class="btn-large waves-effect waves-light purple" type="submit" name="action" id="efetivar_cadastro"
                        role="button">CADASTRAR
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</form>
{% endblock %}