{% extends 'template.html'%}
{%load static%}
{% block 'titulo'%}Iestok|cadastro{% endblock %}
{%block 'content'%}

<div class="text-center">
    <img src="{%static 'images\logo.jpeg'%}" width="150px" height="auto" alt="...">
</div>
<form method="POST" action="{% url 'cadastro' %}">
    {% csrf_token %}
    <div class="mb-3 row input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Primeiro nome" name="nome">
    </div>
    <div class="mb-3 row input-group input-group-lg">
        <input type="email" class="form-control" aria-describedby="emailHelp"
               placeholder="Email" name="email">
    </div>
    <div class="mb-3 row input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Nome de usuário" name="username">
    </div>
    <div class="mb-3 row input-group input-group-lg">
        <input type="password" class="form-control" placeholder="Sua senha" name="senha">
    </div>
    <div class="mb-3 row input-group input-group-lg">
        <input type="password" class="form-control" placeholder="Repita a Senha"
               name="senha_repetida">
    </div>
    <div class="form-check row">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Eu não sou um robô</label>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <button type="submit" role="button" class="btn btn-primary fw-bold btn-lg" role="button">
                Cadastrar
            </button>
        </div>
        <div class="col-6">
            <a type="button" class="btn btn-outline-primary fw-bold btn-lg" href="{% url 'index' %}" role="button">
                Voltar
            </a>
        </div>
    </div>
</form>
{% endblock %}