{% extends 'template.html'%}
{%load static%}
{% block 'titulo'%}Iestok|congratulations{% endblock %}
{%block 'content'%}
<div class="fw-bolder mt-3">
    <p style="font-size:25px;">Parabéns {% if user.is_authenticated %}{{user.first_name}}{% else %}{{nome}} {% endif %}
        !</p>
    <p>Agora você pode ler o primeiro capítulo do seu livro gratuitamente! :)</p>
</div>
<div class="mt-3">
    <p>Nos fale sobre seus assuntos favoritos: </p>
</div>
<form method="GET" action="#">
    {% csrf_token %}
    {% for escola in escolas %}
    <div class="form-check row">
        <input class="form-check-input" type="checkbox" value="{{escola.descricao}}" id="{{escola.descricao}}">
        <label class="form-check-label" for="{{escola.descricao}}">
            {{escola.descricao}}
        </label>
    </div>
    {% endfor %}
    <div class="row text-center">
        <div class="col-6">
            <button type="submit" role="button" class="btn btn-primary btn-lg fw-bold">
                Enviar
            </button>
        </div>
        <div class="col-6">
            <a type="button" class="btn btn-outline-primary fw-bold btn-lg" role="button" href="{% url 'sair' %}">
                Sair
            </a>
        </div>
    </div>
</form>
{% endblock %}