{% extends 'template.html'%}
{%load static%}
{% block 'titulo'%}Login{% endblock %}
{%block 'content'%}
<div class="fw-bolder mt-5">
    <p style="font-size:40px;">Parabéns {% if user.is_authenticated %}{{user.first_name}}{% else %}{{nome}} {% endif %} !</p>
    <p>Agora você pode ler o primeiro capítulo do seu livro gratuitamente! :)</p>
</div>
<div class="mt-5">
    <p>Nos fale sobre seus assuntos favoritos: </p>
</div>
<form class="d-grid gap-2 mt-2 mx-auto container" method="GET" action="#">
    {% csrf_token %}
    <div class="form-check row">
        <input class="form-check-input" type="checkbox" value="0" id="fil_socratica">
        <label class="form-check-label" for="fil_socratica">
            Filosofia socrática
        </label>
    </div>
    <div class="form-check row">
        <input class="form-check-input" type="checkbox" value="1" id="fil_aristotelica">
        <label class="form-check-label" for="fil_aristotelica">
            Filosofia Aristotélica
        </label>
    </div>
    <div class="form-check row">
        <input class="form-check-input" type="checkbox" value="2" id="fil_contemporanea">
        <label class="form-check-label" for="fil_contemporanea">
            Filosofia contemporânea
        </label>
    </div>
    <div class="form-check row">
        <input class="form-check-input" type="checkbox" value="3" id="fil_trevas">
        <label class="form-check-label" for="fil_trevas">
            Filosofia das trevas
        </label>
    </div>
    <div class="form-check row">
        <input class="form-check-input" type="checkbox" value="3" id="auto_ajuda">
        <label class="form-check-label" for="auto_ajuda">
            Auto ajuda
        </label>
    </div>
    <div class="row">
        <div class="d-grid gap-2 mt-2 mx-auto">
            <button type="submit" role="button" class="btn btn-primary btn-lg fw-bold" style="padding:40px;font-size: 35px">
                Enviar
            </button>
        </div>
    </div>
</form>
<div class="container">
    <div class="d-grid gap-2 mt-2 mx-auto">
        <a type="button" class="btn btn-outline-primary btn-lg fw-bold" style="padding:40px;font-size: 35px"
           href="{% url 'sair' %}">
            Sair
        </a>
    </div>
</div>
{% endblock %}