{% extends 'template.html'%}
{%load static%}
{% block 'titulo'%}Login{% endblock %}

{%block 'content'%}
<div class="row mt-5">
    <div class="col-12 text-center">
        <img src="{%static 'images\logo.jpeg'%}" width="200px" height="auto" alt="...">
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <p>Livros e inspirações<br>na palma da sua mão</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-6">
        <a role="button" class="btn btn-primary fw-bold btn-lg" href="{% url 'login' %}" type="button">Acessar meus livros</a>
    </div>
    <div class="col-6">
        <a role="button" class="btn btn-outline-primary fw-bold btn-lg" href="{% url 'cadastro' %}" type="button">
            Primeira vez aqui?
        </a>
    </div>
</div>
{% endblock %}