{% extends 'template.html'%}
{%load static%}
{% block 'titulo'%}Iestok|Login{% endblock %}
{%block 'content'%}
<div class="row mt-5">
    <div class="col-12 text-center">
        <img src="{%static 'images\logo.jpeg'%}" width="200px" height="auto" alt="...">
    </div>
</div>
<form method="POST" action="{% url 'login' %}" class="row">
    {% csrf_token %}
    <div class="mb-3 row input-group input-group-lg">
        <input type="email" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp" placeholder="Email" name="email">
    </div>
    <div class="mb-3 row input-group input-group-lg">
        <input type="password" class="form-control" id="exampleInputPassword1"
               placeholder="Senha" name="senha">
    </div>
    <div class=" form-check row">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Eu não sou um robô</label>
    </div>
    <div class="row text-center mt-3">
        <div class="col-4 offset-1">
            <button type="submit" role="button" class="btn btn-primary btn-lg" role="button">
                Entrar
            </button>
        </div>
        <div class="col-7">
            <a type="button" class="btn btn-outline-primary btn-lg" href="{% url 'cadastro' %}">
                Inscreva-se
            </a>
        </div>
    </div>
</form>

{% endblock %}