<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iestok</title>
</head>
<div class="alert alert-primary" role="alert" style="font-size:50px;">
    Cadastro realizado com sucesso!</a>
</div>
<body style="font-family:roboto;">
<div class="container">
    <div class="fw-bolder mt-5" style="font-size:70px;">
        <p>Parabéns Francisco!</p>
        <p>Agora você pode ler o primeiro capítulo do seu livro gratuitamente! :)</p>
    </div>
    <div class="mt-5" style="font-size:50px;">
        <p>Nos fale sobre seus assuntos favoritos: </p>
    </div>
    <form class="d-grid gap-2 mt-5 mx-auto container" style="font-size:50px;">
        <div class="form-check row">
            <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Filosofia socrática
            </label>
        </div>
        <div class="form-check row">
            <input class="form-check-input" type="checkbox" value="1" id="uma-coisa">
            <label class="form-check-label" for="uma-coisa">
                Filosofia Aristotélica
            </label>
        </div>
        <div class="form-check row">
            <input class="form-check-input" type="checkbox" value="2" checked id="outra-coisa">
            <label class="form-check-label" for="outra-coisa">
                Filosofia contemporânea
            </label>
        </div>
        <div class="form-check row">
            <input class="form-check-input" type="checkbox" value="3" id="terceira-coisa">
            <label class="form-check-label" for="terceira-coisa">
                Filosofia da puta que pariu
            </label>
        </div>
        <div class="form-check row">
            <input class="form-check-input" type="checkbox" value="3" id="cada-coisa">
            <label class="form-check-label" for="cada-coisa">
                Auto ajuda
            </label>
        </div>
        <div class="row">
            <div class="d-grid gap-2 mt-5 mx-auto">
                <button type="button" class="btn btn-primary btn-lg fw-bold" style="font-size:50px; padding:40px">
                    Enviar
                </button>
            </div>
        </div>
    </form>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>